body {
  height: 100%;
  background: url('../images/clean-white-polygon-backgrounds-7-copy(6).jpg') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: center center;
  font: 400 1em/1.38 Verdana;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .text {
  width: 53.9211783439%;
  min-height: 56px;
  margin: 11px 0 0 24.16969%;
  background-color: rgba(200, 17, 17, 0);
  font-family: 'Verdana Negrito It lico';
  font-size: 1.875em;
  font-weight: normal;
  text-align: center;
  color: rgb(15, 15, 15);
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  background-size: contain;
  background-position: center center;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._element {
  width: 13.2226345793%;
  height: 65px;
}

.container-1 {
  position: relative;
  z-index: 1;
  width: 55.2%;
  height: 73px;
  margin: 31px 0 0 5.46667%;
  border-radius: 32px;
  background-color: rgb(246, 128, 6);
}

.container-2 {
  clear: both;
  width: 79.1958333333%;
  height: 74px;
  margin: 381px 0 0 10%;
  background-image: url('../images/Logo_rodape.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.text-2 {
  clear: both;
  width: 46.2666666666%;
  min-height: 41px;
  margin: 71px 0 0 15.2%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-1 {
  position: relative;
  z-index: 3;
  width: 16.2666666666%;
  height: 73px;
  margin: 31px 0 0 1.86667%;
  background-image: url('../images/download(2).png');
  background-repeat: repeat-y;
}

._button-2 {
  width: 6.5833333333%;
  height: 66px;
  margin: 22px 0 0 11.2%;
  background-image: url('../images/edit(3).jpg');
  background-repeat: no-repeat;
  font-family: Helvetica;
}