body {
  background-image:url('../images/backsheet.jpg');
  font: 700 1.25em/1.38 edelsans;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .container {
  width: 13.2226345793%;
  height: 65px;
}

._button {
  display: block;
  float: left;
  text-align: center;
  color: rgb(0, 0, 0);
}

._container {
  clear: both;
  width: 99.7333333333%;
  height: 74px;
  margin: 59px 0 0 0.26667%;
  background-image: url('../images/Logo_rodape.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 30.4%;
  height: 72px;
  margin: -114px 0 0 54.4%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-family: Verdana;
  font-size: 0.65em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: relative;
  clear: both;
  z-index: 0;
  width: 43.2%;
  height: 166px;
  margin: 55px 0 0 13.6%;
  background-image: url('../images/ampulheta.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button-1 {
  position: relative;
  z-index: 7;
  width: 16.2666666666%;
  height: 73px;
  margin-top: 24px;
  border-radius: 3px;
  background: url('../images/return(5).png') rgb(209, 209, 209);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-family: Verdana;
  font-size: 0.8em;
  font-weight: 400;
}

._button-2 {
  position: relative;
  z-index: 8;
  width: 57.3333333333%;
  height: 72px;
  margin: 31px 0 0 7.2%;
  border-radius: 33px;
  background-color: rgba(245, 6, 6, 0.59);
  font-size: 1.5em;
}

._button-2:active {
  border-radius: 35px;
  font-size: 1em;
}

._button-3 {
  position: relative;
  z-index: 6;
  width: 10.1333333333%;
  height: 35px;
  margin: 39px 0 0 9.0541699999%;
  border-radius: 3px;
  background: url('../images/edit(3).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 400;
}

._button-4 {
  width: 66.6666666666%;
  height: 50px;
  margin: 70px 0 0 16.79167%;
  border-radius: 32px;
  background-color: rgb(231, 210, 19);
  font-size: 1em;
}

._button-5 {
  clear: both;
  width: 61.0666666666%;
  height: 39px;
  margin: 55px 0 0 19.72917%;
  border-radius: 30px;
  background-color: rgb(9, 214, 110);
  font-size: 1em;
}