body {
  background-image: url('../images/backsheet.jpg');
  font: 400 1em/1.38 Verdana;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .text {
  width: 75.3623188405%;
  min-height: 56px;
  margin: 14px 0 0 11.66764%;
  background-color: rgba(200, 17, 17, 0);
  font-family: 'Verdana Negrito It lico';
  font-size: 1.875em;
  font-weight: normal;
  text-align: center;
  color: rgb(15, 15, 15);
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  background-size: contain;
  background-position: center center;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._element {
  width: 13.2226345793%;
  height: 65px;
}

.container-1 {
  position: relative;
  z-index: 1;
  width: 57.0666666666%;
  height: 73px;
  margin: 31px 0 0 5.6%;
  border-radius: 32px;
  background-color: rgb(55, 145, 6);
}

.container-2 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 10.5333333333%;
  height: 20px;
  margin: 54px 0 0 10%;
  background-color: rgba(9, 35, 144, 0.96);
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 10.5333333333%;
  height: 20px;
  margin: 30px 0 0 10%;
  background-color: rgba(237, 92, 10, 0.96);
}

.container-4 {
  position: relative;
  clear: both;
  z-index: 11;
  width: 10.5333333333%;
  height: 20px;
  margin: 29px 0 0 10%;
  background-color: rgba(11, 166, 82, 0.96);
}

.container-5 {
  position: relative;
  clear: both;
  z-index: 14;
  width: 10.5333333333%;
  height: 20px;
  margin: 32px 0 0 10%;
  background-color: rgba(236, 234, 29, 0.96);
}

.container-6 {
  clear: both;
  width: 99.7333333333%;
  height: 74px;
  margin: 58px 0 0 0.26667%;
  background-image: url('../images/Logo_rodape.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.text-2 {
  position: relative;
  z-index: 8;
  width: 64.6666666666%;
  min-height: 20px;
  margin: 54px 0 0 1.46667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: relative;
  z-index: 10;
  width: 64.6666666666%;
  min-height: 20px;
  margin: 35px 0 0 1.46667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  position: relative;
  z-index: 12;
  width: 64.6666666666%;
  min-height: 20px;
  margin-top: 29px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-5 {
  position: relative;
  z-index: 13;
  width: 69.0666666666%;
  min-height: 20px;
  margin: 32px 0 0 0.12917%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-1 {
  position: relative;
  z-index: 2;
  width: 16.2666666666%;
  height: 73px;
  margin: 31px 0 0 1.86667%;
  background-image: url('../images/download(2).png');
  background-repeat: repeat-y;
}

._button-2 {
  position: relative;
  z-index: 5;
  width: 10.1333333333%;
  height: 35px;
  margin: 31px 0 0 9.06667%;
  background-image: url('../images/edit(3).png');
  background-repeat: no-repeat;
  font-family: Helvetica;
}

._button-3 {
  clear: both;
  width: 80%;
  height: 197px;
  margin: 30px 0 0 10%;
  background-image: url('../images/pizza.png');
  background-repeat: no-repeat;
}